<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<!--Set log level: DEBUG->INFO->WARN->ERROR->FATAL->ALL/OFF-->
		<add key="MinLogLevel" value="DEBUG"/> 
		<add key="MaxLogLevel" value="FATAL"/> 
		<!--Delete log files older than n days-->
		<add key="MaxAgeRollBackups" value="7"/> 
	</appSettings>	
</configuration>