<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<appSettings>
		<add key="MaxAgeRollBackups" value="1"/> <!--Allow delete log files older than n days-->
	</appSettings>	
</configuration>